<!-- app/views/users/show.html.erb -->
<h1><%= @user.name %></h1>

<dl>
  <dt>Height:</dt>
  <dd><%= @user.height %> cm</dd>

  <dt>Weight:</dt>
  <dd><%= @user.weight %> kg</dd>

  <dt>BMI:</dt>
  <dd><%= @user.bmi %></dd>
</dl>
 <dt>カテゴリー:</dt>
<dd><%= @user.bmi_category %></dd>

